<!DOCTYPE html>
<html>
<head>
  <title>ProfileZiqqu</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application"  %>
  <%= csrf_meta_tags %>
  
</head>
<body bgcolor="#E6E6FA">
<div class="container_16">
	<div class = "grid_16 pull_1">
		<img src ="/assets/home.jpg" />		 
	</div>
		<%= yield %>
</div>
</body>
</html>